html
  font-family sans-serif

body
  margin 20

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  font-family inherit
  font-weight 500
  line-height 1
  color inherit

h1, .h1, h2, .h2, h3, .h3
  margin-top 20px
  margin-bottom 10px

h1, .h1
  font-size 36px

h2, .h2
  font-size 30px

h3, .h3
  font-size 24px

h4, .h4
  font-size 18px

h5, .h5
  font-size 14px

h6, .h6
  font-size 12px

p
  margin 0 0 10px

.container
  padding-right 15px
  padding-left 15px
  margin-right auto
  margin-left auto

@media (min-width: 1000px)
  .container
    width 1250px

@media (min-width: 768px)   
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12
    float left

@media (min-width: 768px)
  .col-sm-4
    width 33.3%
  .jumbotron
    margin-bottom 30px
    padding-top 30px
    padding-bottom 45px
    background-color #9fc5c6
    /*border-top-right-radius: 10%
    border-top-left-radius: 10%
    border-bottom-right-radius: 10%
    border-bottom-left-radius: 10%*/

  img
    height 300px
    width 300px
    margin-left 60px


@media (min-width: 768px) 
  .container-fluid .jumbotron
    padding-right 15px
    padding-left 15px
    border-radius 30px

@media (min-width: 768px)   
  .container-fluid .jumbotron
    padding-right 60px
    padding-left 60px

@media (min-width: 768px)
  .jumbotron h1
    font-size 80px

#web
  background-color #9fc5c6
  margin 70px

#music
  background-color #9fc5c6
  margin 70px

#radio
  background-color #9fc5c6
  margin 70px

ul 
  list-style-type: none
  margin 0
  padding 0
  width 200px
  background-color #66CDAA


li a 
  display block
  color #000
  padding 8px 0 8px 16px
  text-decoration none
  fade 0.25





